.text-animation {
	color: #f4a950;
}
.title-dynamic {
	margin-top: 80px;
}

.title-dynamic a,
.title-dynamic span {
	color: #000;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}

.title-dynamic a:hover {
	color: #f4a950;
	text-decoration: none;
}
.page-title {
	margin: 4.1em 0em 3em 0em;
}

.page-title h1 {
	font-size: 56px;
	line-height: 64px;
	position: relative;
	color: #161c25;
	font-weight: bold;
}
.about-us:before {
	content: '';
	background: linear-gradient(
		180.09deg,
		rgb(244, 169, 80) -30.16%,
		rgba(244, 169, 80, 0) 99.92%
	);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 319px;
	pointer-events: none;
}
.nav-tabs,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
	border: none !important;
	isolation: unset !important;
}
.nav-tabs .nav-link.active {
	border: none;
	border-bottom: 1px solid#f4a950 !important;
	color: #f4a950 !important;
}
.nav {	
    justify-content: center;
}
.aboutus-tab {
	border: 0.4px solid rgb(232, 232, 232);
	box-shadow: rgb(0 0 0 / 10%) 0px 2px 10px;
	border-radius: 30px;
	background: rgb(255, 255, 255);
	padding: 10px 25px;
	width: 50%;
	margin: 0px auto 50px;
	max-width: 100%;
}
.nav-link {
	margin: 0 3rem !important;
	color: #021635 !important;
}
.nav-link:focus-visible {
	outline: none !important;
}

/*this is for image size once they give a correct size then it will be remove*/
.why-image {
	width: 600px;
	height: 416px;
	border-radius: 0.5em;
	position: relative;
}
/*this is for image size once they give a correct size then it will be remove*/
.pattern-image {
	margin-top: 215px;
	margin-left: -100px;
	position: absolute;
}
.secondrow-bottom {
	background: linear-gradient(
		rgb(244, 169, 80) 13.14%,
		rgba(244, 169, 80, 0) 100%
	);
	transform: matrix(1, 0, 0, -1, 0, 0);
	clip-path: polygon(0px 1%, 100% 28%, 100% 100%, 0px 100%);
	padding: 37em 0px 10em;
	position: relative;
}
.fourthrow-bottom {
	background: linear-gradient(
		rgb(244, 169, 80) 13.14%,
		rgba(244, 169, 80, 0) 100%
	);
	clip-path: polygon(0px 1%, 100% 28%, 100% 100%, 0px 100%);
	padding: 30em 0px 15em;
}
.first-row,
.second-row,
.fifth-section {
	padding-top: 7em;
}
.fourth-row {
	padding-top: 17em;
	--bs-gutter-x: 0rem !important	;
}
.second-row .col-md-6,
.fourth-row {
	z-index: 99;
}
.second-row,
.fourth-row {
	position: absolute;
}
.why-first-row-title,
.why-second-row-title,
.why-third-row-title,
.why-fourth-row-title,
.why-fifth-row-title {
	font-size: 36px;
}
.second-row .pattern-image {
	left: -50px;
}
.scrollspy-card {
	display: flex;
	gap: 150px;
	justify-content: center;
}
.card {
	padding: 40px 90px;
	display: flex;
	border-radius: 1.5em !important;
	cursor: pointer;
}
.card.active {
	color: red;
}
section {
	height: 200px;
	margin-top: 50px;
	overflow-y: scroll;
}
.card.active section {
	opacity: 1;
}
.award-image {
	width: 230px;
	height: 146px;
}
.fifth-row {
	background: rgba(244, 169, 80);
	border-radius: 2em;
	padding: 60px;
}
.fifth-row .col-md-4{
	padding:0px 70px;
}
