.footer {
    --tw-bg-opacity: 1;
    background-color: rgb(35 39 40/var(--tw-bg-opacity));
    color: rgb(255 255 255/var(--tw-text-opacity));
    padding: 0px 100px !important;
}

.footer a {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.footer li {
    padding: 7px 0px;
}

a.social-logo img {
    width: 24px !important;
    height: 24 !important;
    margin-right: 20px;
}

.popular-search {
    font-size: 20px !important;
    font-weight: bold;
    padding-bottom: 1rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

@media (min-width: 768px) and (max-width:1200px) {
    .footer {

        padding: 0px 40px !important;
    }

    .col-md-2 {

        flex: 0 0 25.666667% !important;
        max-width: 25.666667% !important;
        margin-bottom: 20px !important;
    }
}